body{
    background-color: rgb(217, 222, 223);
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    background-color: rgb(97, 44, 97);
}
.whitelink a{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}.yellowlink a{
    background-color: rgb(232, 139, 33);
    padding: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
li{
    display: inline;
    margin-right: 20px;
}

#accueil {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#accueil::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}

#accueil video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenu {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(232, 139, 33);
    cursor: pointer;
}

#programmation h3 {
    text-align: center;
    margin: 40px 0;
    font-size: 30px;
    color: rgb(97, 44, 97);
}

#programmation ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}

#programmation li {
    text-align: center; /* centre le nom sous l’image */
    font-weight: bold;
    color: #7b2cbf; /* mauve stylé */
    font-size: 25px;
}

#programmation img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#programmation img:hover {
    transform: scale(1.05);
}
button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(232, 139, 33);
    cursor: pointer;
} 

#info {
    text-align: center;
    padding: 10px 20px;
    color:rgb(97, 44, 97);
}

.bloc {
    max-width: 600px;
    margin: 30px auto;   /* centre horizontalement */
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    color:rgb(97, 44, 97);
}

footer {
    background-color: rgb(97, 44, 97);
    color: white;             
    text-align: center;       
    padding: 10px 0;           /* espace haut et bas */
    font-size: 14px;
}

/* Contact en rouge */
footer p:first-child {
    color: red;
    font-weight: bold; 
    font-size: 20px;
}
body {
    font-family: Arial, sans-serif;
}

.form-contact {
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.form-contact label {
    margin-top: 15px;
    font-weight: bold;
}

.form-contact input,
.form-contact textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-contact button {
    margin-top: 20px;
    padding: 10px;
    background-color: #7b2cbf; /* mauve */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-contact button:hover {
    background-color: #5a189a;
}